 *{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background:rgb(228, 237, 247);
}
.modal{
    background-color: rgba(255, 255, 255, 0.8);
    justify-self: center;
    margin-top: 10%; 
    width:500px;
    border-radius: 12px;
    box-shadow: 4px 0px 4px 4px rgba(0,0,0,0.1);
    padding-bottom: 20px;
}
.header{
   display: flex;
   padding-top: 19px;
   margin-left: 26px;
}
header>h3{
    color: #486282; 
}
.cross{
   margin-left: 55%;
   font-size: 20px;
   cursor: pointer;
}
.share-icon{
  display: flex;
  justify-content: space-around;
  margin: 36px 10px;
}
.icon:nth-child(4) i {
    background: #fee8e8; 
    color: #f44;
}
.or{
    margin-left: 35%;
    padding: 12px;
    color: #486282;
}
.icon{
   cursor: pointer;
   color: #486282;
  margin-left: 2px;
}
.icon i {
     font-size: 24px;
    padding: 10px;
    border-radius: 50%;
    background: #f0f0f0;
}
.icon:hover {
    color: black;
}
.icon p{
    margin-top: 37px;
    margin-left: 5px;
}
.link{
    display:flex;
    background-color: #f0f0f0;
    border-radius: 18px;
    padding: 8px;
    width: 87%;
    margin-left: 36px;
}
.link input {
    border-radius: 8px;
    background: transparent;
    flex: 1;
    border: none;
}
.copybtn{
   background: transparent;
   border: none;
   cursor: pointer;
   padding: 10px;
   background: none; 
   color: #f44;
   font-size: large;
}
