*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial,sans-serif;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    height: 100vh;
    margin-top: 20px;
}
.container{
    background-color: #ffffff;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
    height: 450px;
    width: 800px;
    padding: 20px;
    border-radius: 10px;
}
h1{
    text-align: center;
    margin-bottom: 20px;
}
.content{
    display: flex;
    margin-bottom: 10px;
}
.content input{
    flex: 1;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
}
.content button{
    background-color: #4a90e2;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}
.btns{
    text-align: center;
    margin-bottom: 15px;
}
.btns button{
    padding:10px 15px;
    margin: 5px;
    border:  1px solid #eee;
    background: #f1f1f1;
    border-radius: 5px;
    cursor: pointer;
}
.btns .active{
     background-color: #4a90e2;
     color: #ffffff;
}
.checkbox{
   display: flex;
   justify-content: space-between;
   border-bottom: 20px;
   border-bottom: 1px solid #eee;
   padding-block-end: 10px;
   font-size: 20px;
   margin: 20px;
}
.checkboxes button{
    color: white;
    border: none;
    background-color: #ff6b6b;
    padding: 10px 20px;
    align-self: center;
    border-radius: 4px;
}
.checkboxes  .checkbox:last-child{
    border-bottom: none;
}
input[type="checkbox"]{
    transform: scale(1.5);
    margin-right: 8px;
    accent-color: #4a90e2;
}
