body{
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background-color: beige;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.head{
    display: flex;
    justify-content: space-between; 
}
 
.ri-whatsapp-line{
    color: #25d366;
    padding-top: 40px;
    padding-left: 50px;
    font-size: 1.7em;
}

.download{
      border: 1px solid black;
      background-color: #25d366;
      margin: 35px;
      border-radius: 30px;
      padding: 10px 30px;
}

.container{
    display: flex;
    border: 1px solid black;
    margin: 30px 50px;
    padding: 30px 50px;
    justify-content: space-between;
    background-color: #ffffff;
    border-radius: 25px;
}

h1{
    padding-left: 30px;
    font-size: 1.7em;
}

p{
    font-size: 1.2em;
    padding-left: 25px;
}

ol{
    padding-left: 40px;
}

li{
    padding-top: 10px; 
}

.btn{
    border: 1px solid gainsboro;
    border-radius: 15px;
}
   
.link{
    display: flex;
    padding-left: 20px;
    width:fit-content;
    color: black;
    text-decoration: none;
    font-size: 18px;
    border-bottom: 2px solid #25d366;
}

img{
    height: 250px;
    width: 350px;
    padding-top: 50px;
    padding-right: 30px;
}

.ri-check-line{
    background-color: #25d366;
    color: #ffffff;
    border-radius: 3px;
}

 .qr-code{
    color: gainsboro;
    font-size: 1em;
    padding-bottom: 15px;
}
 